@use "../../../../../styles/colors.scss" as colors;

main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 92.5vh;

  .form-box {
    padding: 5vh;
    width: 70%;
    height: 40%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border: 0.1vh solid colors.$red-primary;
    box-shadow: 0 0 1.2vh colors.$red-primary;
    background-color: colors.$gray-medium;
    border-radius: 1vh;
    overflow: hidden;

    h2 {
      font-size: 1.5rem;
      text-align: center;
      margin-bottom: 1rem;
    }

    form {
      display: flex;
      flex-direction: column;
      gap: 1vh;
    }

    label {
      display: flex;
      width: 100%;
      justify-content: center;
      font-size: 2vh;
    }

    select {
      outline: none;
      width: 100%;
      height: 4vh;
      position: relative;
      background: transparent;
      border-radius: 0.5vh;
      cursor: pointer;
      font-size: 1.5vh;
      color: colors.$black-darkest;
      font-weight: 600;
      border: 0.01vh solid colors.$red-primary;
      overflow: hidden;
      z-index: 1;

      option {
        background-color: colors.$gray-medium;
      }
    }

    padding: 5vw;
    width: 40%;
    height: 50%;

    h2 {
      font-size: 2vw;
      margin-bottom: 0;
    }

    label {
      margin-top: 1.5vw;
      margin-bottom: 0.75vw;
      justify-content: start;
      font-size: 1vw;
    }

    select {
      margin-top: 0.75vw;
      height: 5vh;
      font-size: 1vw;
      border-radius: 0.5vw;
    }
  }
}
