$primary-red: #b20000;
$dark-red: #860909;
$deep-black: #010108;

$pure-white: #fbfbff;
$light-gray: #f7f7f7;
$medium-gray: #cecece;
$dark-gray: #111111;

$light-gray-2: #cccccc;
$medium-gray-2: #919191;
