@if (status == "selecting") {<custom-header />}
<main>
  @if (isLoading) {
  <loading />
  } @else if (modalConfig && modalConfig.isVisible) {
  <modal
    [isVisible]="modalConfig.isVisible"
    [title]="modalConfig.title"
    [onClose]="modalConfig.onClose"
  />
  } @else { @if (status == "selecting") {
  <h1>Identificador da urna: {{ simpleId }}</h1>
  <div class="container">
    <div class="select-container">
      <label for="group">Selecione um grupo para iniciar a votação</label>
      <select
        name="group"
        id="group"
        [value]="selectedGroup ? selectedGroup._id : 'null'"
        (change)="changeSelect($event)"
      >
        <option value="null">NENHUM</option>
        @for (group of currentGroups; track $index) {
        <option [value]="group._id">
          {{ group.group ? group.group + "/" : "" }}{{ group.name }}
        </option>
        }
      </select>
    </div>
    <div class="null-vote">
      <label for="null-vote">Voto Nulo</label>
      <input
        type="checkbox"
        id="null-vote"
        [checked]="nullVote"
        (change)="changeNullVote()"
      />
    </div>
    <custom-button (click)="startVote.bind(this)" content="Iniciar Votação" />
  </div>
  }@else if (status == "occurring") {
  <div class="vote-container">
    @if(selectedGroup){
    <div class="group-container">
      <h3>{{ selectedGroup.name }}</h3>
      @for (participant of selectedParticipants; track $index) {
      <div>
        <label [for]="participant._id">{{ participant.name }}</label>
        <input
          type="radio"
          name="group-container-1"
          [id]="participant._id"
          (change)="addVote(participant._id)"
        />
      </div>
      } @if(nullVote){
      <div>
        <label for="null-1">Nulo</label>
        <input
          type="radio"
          name="group-container-1"
          id="null-1"
          (change)="addVote('null')"
        />
      </div>
      }
    </div>
    }
    <div class="button-container">
      <custom-button (click)="vote.bind(this)" content="Votar" />
    </div>
  </div>
  } @else {
  <div class="center-container">
    <h1>AGUARDE A LIBERAÇÃO</h1>
  </div>
  } }
</main>
