@if (status == "selecting") {<custom-header />}
<main [style.height]="status == 'selecting' ? '85vh' : '100vh'">
  @if (isLoading) {
  <loading />
  } @else if (modalConfig && modalConfig.isVisible) {
  <modal
    [isVisible]="modalConfig.isVisible"
    [title]="modalConfig.title"
    [icon]="modalConfig.icon"
    [onClose]="modalConfig.onClose"
  >
    {{modalConfig.children}}
  </modal>

  } @else if (questionModalConfig && questionModalConfig.isVisible) {
  <modal-question
    [isVisible]="questionModalConfig.isVisible"
    [title]="questionModalConfig.title"
    [icon]="questionModalConfig.icon"
    [confirm]="questionModalConfig.onConfirm"
    [deny]="questionModalConfig.onDeny"
  >
    {{questionModalConfig.children}}
  </modal-question>
  }@else { @if (status == "selecting") {
  <div class="start-container">
    <h1>Identificador da urna: <strong>{{ simpleId }}</strong></h1>
    <custom-select
      id="group"
      label="Selecione um grupo para iniciar"
      default="selecione"
      [options]="currentGroups"
      (change)="changeSelect($event)"
    />
    <div class="null-vote">
      <label for="null-vote">Deseja adicionar voto nulo?</label>
      <input
        type="checkbox"
        id="null-vote"
        [checked]="nullVote"
        (change)="changeNullVote()"
      />
    </div>
    <custom-button [onClick]="startVote.bind(this)">INICIAR</custom-button>
  </div>
  }@else if (status == "occurring") {
  <div class="vote-container">
    @if(selectedGroup){
    <h3>{{ selectedGroup.label }}</h3>
    <div class="options">
      @for (participant of selectedParticipants; track $index) {
      <div class="option">
        <label [for]="participant._id">{{ participant.name }}</label>
        <input
          type="radio"
          name="group-container-1"
          [id]="participant._id"
          (change)="addVote(participant._id)"
        />
      </div>
      } @if(nullVote){
      <div class="option">
        <label for="null-1">Nulo</label>
        <input
          type="radio"
          name="group-container-1"
          id="null-1"
          (change)="addVote('null')"
        />
      </div>
      }
    </div>
    }
    <custom-button [onClick]="vote.bind(this)">Votar</custom-button>
  </div>
  } @else {
  <div class="center-container">
    <h1>URNA BLOQUEADA</h1>
  </div>
  } }
</main>
