<div class="landing-page">
  <a href="">melhore suas votações!</a>
</div>
<div class="section">
  <navbar-link image="assets/svg/home.svg" text="página inicial" [path]="['/']" />
</div>
<div class="section">
  <navbar-link image="assets/svg/start-vote.svg" text="iniciar votação" [path]="['/']" />
  <navbar-link image="assets/svg/track-vote.svg" text="acompanhar votação" [path]="['/']" />
  <navbar-link image="assets/svg/allow-vote.svg" text="autorizar voto" [path]="['/']" />
</div>
<div class="section">
  <navbar-link image="assets/svg/add-session.svg" text="adicionar sessão" [path]="['/']" />
  <navbar-link image="assets/svg/add-candidate.svg" text="adicionar candidato" [path]="['/']" />
</div>
<div class="section">
  <navbar-link image="assets/svg/see-sessions.svg" text="ver sessões" [path]="['/']" />
  <navbar-link image="assets/svg/troph.svg" text="ver resultados" [path]="['/']" />
</div>
<div class="section">
  <navbar-link image="assets/svg/person.svg" text="ver perfil" [path]="['/']" />
</div>
