<custom-header />
<main>
  @if (isLoading) {
  <loading />
  } @else {
  <form [formGroup]="selectForm">
    <custom-select
      formControlName="group"
      id="group"
      label="Selecione um grupo para iniciar"
      default="selecione"
      [options]="currentGroups"
    />
  </form>

  @if (voteResult) {
  <h1>{{ voteResult.group.name }}</h1>
  <table>
    <thead>
      <tr>
        <th>Nome</th>
        <th>Votos</th>
      </tr>
    </thead>
    <tbody>
      @for (result of voteResult.participants; track $index) {
      <tr>
        <td>{{ result.name }}</td>
        <td>{{ result.votes }}</td>
      </tr>
      }
    </tbody>
  </table>
  } }
</main>
