@use "../../../../../../styles/colors.scss" as colors;

:host {
  height: 100%;
  width: 100%;

  button {
    height: 100%;
    width: 100%;
    background-color: colors.$red-primary;
    color: colors.$white-primary;
    font-family: "Azonix";
    border: none;
    border-radius: 0.5vw;
    padding: 0.5vw 0;
    cursor: pointer;
    font-size: 1vw;
  }
}
