@use "../../../../../../styles/colors.scss" as colors;

@media (max-width: 767px) {
  :host {
    height: 100%;
    width: 100%;

    button {
      height: 100%;
      width: 100%;
      background-color: colors.$red-primary;
      color: colors.$white-primary;
      font-family: "Azonix";
      border: none;
      border-radius: 1vh;
      padding: 1vh 0;
      cursor: pointer;
      font-size: 2vh;
    }
  }
}
